{
  "openapi": "3.1.2",
  "info": {
    "title": "Keap API",
    "description": "Keap Public API Documentation",
    "termsOfService": "https://www.thryv.com/terms-of-use",
    "contact": {
      "name": "Keap",
      "url": "https://developer.keap.com/get-support",
      "email": "api.keap@thryv.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.infusionsoft.com/crm"
    }
  ],
  "paths": {
    "/rest/v2/automations/{automationId}/unpublish": {
      "put": {
        "tags": [
          "Automation"
        ],
        "summary": "Unpublish an Automation",
        "description": "Unpublishes a single automation",
        "operationId": "UnpublishAutomation",
        "parameters": [
          {
            "name": "automationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpublishAutomationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rest/v2/tasks": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "List Tasks",
        "description": "Retrieves a list of tasks based on the provided filter. Tasks which are not assigned to a User may be queried with user_id==UNASSIGNED.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:\n- (String) \u0060contact_id\u0060\n- (String) \u0060has_due_date\u0060\n- (String) \u0060is_completed\u0060\n- (String) \u0060user_id\u0060\n- (String) \u0060opportunity_id\u0060\n- (String) \u0060task_ids\u0060\n- (String) \u0060priority\u0060  \u2014 one of \u0060CRITICAL\u0060, \u0060ESSENTIAL\u0060, \u0060NONESSENTIAL\u0060\n- (String) \u0060since_time\u0060\n- (String) \u0060until_time\u0060\n- (String)   \u0060id\u0060     \u2014 supports \u0060==\u0060, \u0060\u003E\u0060, \u0060\u003C\u0060, \u0060\u003E=\u0060, \u0060\u003C=\u0060\n- (String) \u0060title\u0060  \u2014 supports prefix wildcard (\u0060title==Foo*\u0060)\n\nOperators must be URL-encoded (\u0060==\u0060 \u2192 \u0060%3D%3D\u0060, \u0060\u003E\u0060 \u2192 \u0060%3E\u0060, \u0060\u003C\u0060 \u2192 \u0060%3C\u0060).\nFor the filters listed above, here are some examples:\n- \u0060filter=contact_id%3D%3D123\u0060\n- \u0060filter=has_due_date%3D%3Dtrue\u0060\n- \u0060filter=is_completed%3D%3Dtrue\u0060\n- \u0060filter=user_id%3D%3D321\u0060\n- \u0060filter=opportunity_id%3D%3D321\u0060\n- \u0060filter=task_ids%3D%3D1,2,3\u0060\n- \u0060filter=priority%3D%3DCRITICAL\u0060\n- \u0060filter=since_time%3D%3D2025-04-16T20:33:02.321Z;\u0060\n- \u0060filter=until_time%3D%3D2025-08-16T20:33:02.321Z;\u0060\n- \u0060filter=id%3E5\u0060                  (id \u003E 5)\n- \u0060filter=id%3C%3D100\u0060              (id \u003C= 100)\n- \u0060filter=title%3D%3DFollow%2A\u0060     (title starts with \u0022Follow\u0022)\n\n**Custom fields:** tasks may also be filtered by any custom field defined on the Task record, referenced by its field name (e.g. \u0060filter=cf_priority%3D%3D10\u0060). Both indexed and non-indexed custom fields are filterable. Operators must be URL-encoded, same as the standard fields above. The supported operator and value depend on the field\u0027s data type:\n- Text-like fields (Text, Text Area, Name, Email, Website, Phone, Social Security Number) and choice fields with text options (Dropdown, Radio, State) \u2014 equals (\u0060==\u0060) and prefix wildcard (e.g. \u0060cf_company%3D%3DAcme%2A\u0060)\n- Numeric fields (Whole Number, Decimal, Currency, Percent, Year, Month, Day of Week, User) \u2014 equals and comparison (\u0060==\u0060, \u0060\u003E\u0060, \u0060\u003C\u0060, \u0060\u003E=\u0060, \u0060\u003C=\u0060)\n- Date and Date/Time fields \u2014 equals and comparison; the value must be a full ISO-8601 date-time with milliseconds and a timezone offset (e.g. \u0060cf_renewDate%3C%3D2026-01-01T00:00:00.000Z\u0060). Date-only values such as \u00602026-01-01\u0060 are rejected\n- Yes/No fields \u2014 equals only, value \u00600\u0060 (No) or \u00601\u0060 (Yes)\n- Drilldown fields \u2014 equals only, integer value\n- Multi-select fields (List Box, User List Box) \u2014 equals only, matched as a contains search over the stored selections (e.g. \u0060cf_tags%3D%3Dred\u0060)\nA custom field that does not exist, an operator unsupported for the field\u0027s type, or a value that does not match the field\u0027s type returns \u0060400 Bad Request\u0060.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.\nOne of the following fields:\n- \u0060id\u0060\n- \u0060create_time\u0060\n- \u0060due_time\u0060\n- \u0060update_time\u0060\n\nOne of the following directions:\n- \u0060asc\u0060\n- \u0060desc\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-delimited list of optional Task properties to include in the response. Allowed values: custom_fields",
            "schema": {
              "$ref": "#/components/schemas/CustomFieldsFields"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTasksResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Create a Task",
        "description": "Creates a new task as the authenticated user.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-delimited list of optional Task properties to include in the response. Allowed values: custom_fields",
            "schema": {
              "$ref": "#/components/schemas/CustomFieldsFields"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/tasks/model/customFields": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Create a Custom Field",
        "description": "Creates a custom field of the specified type and options to the Task object\u003Cbr/\u003ENote: Custom Fields for Tasks, Classic Appointments and Notes are combined.",
        "operationId": "CreateTaskCustomField",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomFieldResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/tasks/model/customFields/tabs": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "List Task Custom Field Tabs",
        "description": "Retrieves a list of custom field tabs for the Task record type.\u003Cbr/\u003ENote: Custom Field Tabs for Tasks, Classic Appointments and Notes are combined.",
        "operationId": "ListTaskCustomFieldTabs",
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomFieldTabsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Create a Task Custom Field Tab",
        "description": "Creates a new custom field tab for the Task record type.\u003Cbr/\u003ENote: Custom Field Tabs for Tasks, Classic Appointments and Notes are combined.",
        "operationId": "CreateTaskCustomFieldTab",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldTabRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldTab"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/tasks/model/customFields/groups": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "List Task Custom Field Groups",
        "description": "Retrieves a list of custom field groups for the Task record type. Optionally filter by tab_id to scope to a specific tab.\u003Cbr/\u003ENote: Custom Field Groups for Tasks, Classic Appointments and Notes are combined.",
        "operationId": "ListTaskCustomFieldGroups",
        "parameters": [
          {
            "name": "tab_id",
            "in": "query",
            "description": "Optional tab id to scope groups to a single tab",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomFieldGroupsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Create a Task Custom Field Group",
        "description": "Creates a new custom field group for the Task record type. If \u0060tab_id\u0060 is omitted, the group is added to the default \u0027Custom Fields\u0027 tab.\u003Cbr/\u003ENote: Custom Field Groups for Tasks, Classic Appointments and Notes are combined.",
        "operationId": "CreateTaskCustomFieldGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldGroup"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List Tags",
        "description": "Retrieves a list of Tags defined in the application\nTo search for \u0060null\u0060 or empty fields use \u0060filter==NONE\u0060",
        "operationId": "ListTags",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:\n\n- (String) \u0060name\u0060\n- (String) \u0060description\u0060\n- (String) \u0060category_id\u0060\n- (String) \u0060tag_ids\u0060\n- (String) \u0060since_create_time\u0060\n- (String) \u0060until_create_time\u0060\n- (String) \u0060since_update_time\u0060\n- (String) \u0060until_update_time\u0060\n\nYou will need to apply the \u0060==\u0060 operator to check the equality of one of the filters with your searched\nword, in the encoded form \u0060%3D%3D\u0060. If NONE is passed in for \u0060category_id\u0060 or \u0060description\u0060, it will check\nfor the non-existence of that field. For the filters listed above, here are some examples:\n\n- \u0060filter=name%3D%3Dmy-tag\u0060\n- \u0060filter=category_id%3D%3DNONE\u0060\n- \u0060filter=description%3D%3DNONE\u0060\n- \u0060filter=tag_ids%3D%3D1,2,3\u0060\n- \u0060filter=since_create_time%3D%3D2024-12-22T01:00:00.000Z;until_create_time%3D%3D2025-01-01T00:00:00.000Z;\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.\nOne of the following fields:\n\n- \u0060name\u0060\n- \u0060create_time\u0060\n- \u0060update_time\u0060\n\nOne of the following directions:\n- \u0060asc\u0060\n- \u0060desc\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTagsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create Tag",
        "description": "Creates a new Tag",
        "operationId": "CreateTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/tags/{tagId}/contacts:removeTags": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Remove Tags",
        "description": "Removes a Tag from a list of Contacts.",
        "operationId": "RemoveTags",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyRemoveTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/rest/v2/tags/{tagId}/contacts:applyTags": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Apply Tag",
        "description": "Applies a Tag to a list of Contacts.",
        "operationId": "ApplyTags",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyRemoveTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyTagsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/tags/categories": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List Tag Categories",
        "description": "Retrieves a list of defined Tag Categories\nTo search for \u0060null\u0060 or empty fields use \u0060filter==NONE\u0060",
        "operationId": "ListTagCategories",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:\n- (String) \u0060name\u0060\n- (String) \u0060description\u0060\n- (String) \u0060since_create_time\u0060\n- (String) \u0060until_create_time\u0060\n- (String) \u0060since_update_time\u0060\n- (String) \u0060until_update_time\u0060\n\nYou will need to apply the \u0060==\u0060 operator to check the equality of one of the filters with your searched\nword, in the encoded form \u0060%3D%3D\u0060. If NONE is passed in for \u0060name\u0060 or \u0060description\u0060, it will check for the\nnon-existence of that field. For the filters listed above, here are some examples:\n- \u0060filter=name%3D%3Dmy-tag-category\u0060\n- \u0060filter=description%3D%3DNONE\u0060\n- \u0060filter=since_create_time%3D%3D2024-12-22T01:00:00.000Z;until_create_time%3D%3D2025-01-01T00:00:00.000Z;\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.\nOne of the following fields:\n- \u0060name\u0060\n- \u0060create_time\u0060\n- \u0060update_time\u0060\n\nOne of the following directions:\n- \u0060asc\u0060\n- \u0060desc\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTagCategoriesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create Tag Category",
        "description": "Creates a new Tag Category.",
        "operationId": "CreateTagCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateTagCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagCategory"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List Subscriptions",
        "description": "Retrieves a list of subscriptions using the specified search criteria.",
        "operationId": "ListSubscriptions",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:\n- (String) \u0060contact_id\u0060\n- (String) \u0060subscription_plan_id\u0060\n- (String) \u0060status\u0060\n- (String) \u0060id\u0060 - Allowable operators: \u0022==\u0022, \u0022\u003C=\u0022, \u0022\u003C\u0022, \u0022\u003E=\u0022, \u0022\u003E\u0022, \u0022!=\u0022\n- (String) \u0060billing_amount\u0060 - Allowable operators: \u0022==\u0022, \u0022\u003C=\u0022, \u0022\u003C\u0022, \u0022\u003E=\u0022, \u0022\u003E\u0022, \u0022!=\u0022\n- (List[String]) \u0060ids\u0060\n- (List[String]) \u0060subscription_plan_ids\u0060\n\nCustom fields can be filtered by their field_name (case-insensitive, as returned\nby GET /v2/subscriptions/model). A standard field above takes precedence over a custom\nfield with the same name. The supported operators depend on the custom field\u0027s type:\n- Text-like fields (text, text area, name, email, phone, website, social security\n  number) and single-value choice fields with text options (dropdown, radio,\n  state): \u0060==\u0060 only, with optional trailing wildcard (e.g. \u0060_SubscriptionNote0%3D%3DValue%2A\u0060)\n- Yes/No and drilldown fields: \u0060==\u0060 only\n- Numeric fields (whole number, decimal, currency, percent, year, month, day of\n  week, user): \u0060==\u0060, \u0060\u003E\u0060, \u0060\u003C\u0060, \u0060\u003E=\u0060, \u0060\u003C=\u0060\n- Date fields: \u0060==\u0060, \u0060\u003E\u0060, \u0060\u003C\u0060, \u0060\u003E=\u0060, \u0060\u003C=\u0060 using full ISO 8601\n- Multi-select fields: \u0060==\u0060 matches records that contain the given option\nCustom field filtering on non-indexed fields is supported but may be slower.\n\nYou will need to apply the \u0060==\u0060 operator (or other supported operators), to check the equality of one of the filters with your searched word, in the encoded form \u0060%3D%3D\u0060. For the filters listed above, here are some examples:\n- \u0060filter=contact_id%3D%3D123\u0060\n- \u0060filter=subscription_plan_id%3D%3D456\u0060\n- \u0060filter=status%3D%3DActive\u0060\n- \u0060filter=id%3E5\u0060\n- \u0060filter=billing_amount%3E%3D100\u0060\n- \u0060filter=ids%3D%3D1,10,4,24\u0060\n- \u0060filter=subscription_plan_ids%3D%3D10,20,30\u0060\n- \u0060filter=contact_id%3D%3D123%3Bstatus%3D%3DActive\u0060\n\nCustom field examples (for custom fields with field_name \u0060_SubscriptionNote0\u0060 and \u0060_SubscriptionCount1\u0060):\n- \u0060filter=_SubscriptionNote0%3D%3DTest\u0060 (custom field exact match)\n- \u0060filter=_SubscriptionNote0%3D%3DTest%2A\u0060 (custom field prefix wildcard)\n- \u0060filter=_SubscriptionCount1%3E100\u0060 (custom field numeric comparison)\n- \u0060filter=contact_id%3D%3D123%3B_SubscriptionNote0%3D%3DActive\u0060 (combined standard \u002B custom field filter)\n\nFor fields which allow wildcard matching, you may use the * wildcard character (or its encoded form %2A) for case-insensitive partial matching on text fields. Example of a valid pattern of wildcard usage:\n- \u0060field==foo*\u0060 finds anything in \u0060field\u0060 that begins with \u0060foo\u0060\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.\nOne of the following fields:\n- \u0060id\u0060\n- \u0060contact_id\u0060\n- \u0060subscription_plan_id\u0060\n- \u0060modification_time\u0060\n\nOne of the following directions:\n- \u0060asc\u0060\n- \u0060desc\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSubscriptionsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create Subscription",
        "description": "Creates a subscription with the specified product and product subscription id.",
        "operationId": "CreateSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/subscriptions/{subscriptionId}:invoice": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Invoice a Subscription",
        "description": "Generates invoices from all cycles of a subscription that are due. Returns the most recently billed invoice.",
        "operationId": "InvoiceSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderV2"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/subscriptions/{subscriptionId}:deactivate": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Cancel Subscription",
        "description": "Cancels the specified subscription",
        "operationId": "CancelSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rest/v2/subscriptions/model/customFields": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create a Subscription Custom Field",
        "description": "Creates a custom field of the specified type and options to the Subscription object",
        "operationId": "CreateSubscriptionCustomField",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldMetaData"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/subscriptions/model/customFields/tabs": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List Subscription Custom Field Tabs",
        "description": "Retrieves a list of custom field tabs for the Subscription record type.",
        "operationId": "ListSubscriptionCustomFieldTabs",
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomFieldTabsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create a Subscription Custom Field Tab",
        "description": "Creates a new custom field tab for the Subscription record type.",
        "operationId": "CreateSubscriptionCustomFieldTab",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldTabRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldTab"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/subscriptions/model/customFields/groups": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List Subscription Custom Field Groups",
        "description": "Retrieves a list of custom field groups for the Subscription record type. Optionally filter by tab_id to scope to a specific tab.",
        "operationId": "ListSubscriptionCustomFieldGroups",
        "parameters": [
          {
            "name": "tab_id",
            "in": "query",
            "description": "Optional tab id to scope groups to a single tab",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomFieldGroupsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create a Subscription Custom Field Group",
        "description": "Creates a new custom field group for the Subscription record type. If \u0060tab_id\u0060 is omitted, the group is added to the default \u0027Custom Fields\u0027 tab.",
        "operationId": "CreateSubscriptionCustomFieldGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldGroup"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/sales/merchants/{id}:setDefault": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Set default Merchant Account",
        "description": "Sets the specified Merchant Account as the default Merchant Account.",
        "operationId": "SetMerchantGatewayAsDefault",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rest/v2/reporting/reports/{reportId}:run": {
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Run a Report",
        "description": "Runs a report as defined in the application (identified as Saved Search)\u003Cbr/\u003E\u003Cspan style=\u0027color:red\u0027\u003EDeprecated as of v2\u003C/span\u003E",
        "operationId": "RunReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The unique identifier of the report (Saved Search) to execute",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "name": "runReportRequest",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RunReportRequest"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportExecutionResult"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/referrals": {
      "get": {
        "tags": [
          "Referral"
        ],
        "summary": "List Referrals",
        "description": "Retrieves a list of all referrals with optional filtering and sorting",
        "operationId": "ListReferrals",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:\n- (String) \u0060referral_partner_id\u0060 - Allowable operators: \u0022==\u0022, \u0022\u003C=\u0022, \u0022\u003C\u0022, \u0022\u003E=\u0022, \u0022\u003E\u0022, \u0022!=\u0022\n- (String) \u0060contact_id\u0060 - Allowable operators: \u0022==\u0022, \u0022\u003C=\u0022, \u0022\u003C\u0022, \u0022\u003E=\u0022, \u0022\u003E\u0022, \u0022!=\u0022\n- (String) \u0060source\u0060 - Wildcard matching allowed\n- (String) \u0060description\u0060 - Wildcard matching allowed\n- (String) \u0060type\u0060 (Allowed values: \u0060COOKIE\u0060, \u0060PERMANENT\u0060, \u0060MANUAL\u0060)\n\nYou will need to apply the \u0060==\u0060 operator (or other supported operators) to check the equality\nof one of the filters with your searched word, in the encoded form \u0060%3D%3D\u0060. For the filters listed above,\nhere are some examples:\n- \u0060filter=referral_partner_id%3D%3D123\u0060\n- \u0060filter=referral_partner_id%3E10\u0060 (referral_partner_id \u003E 10)\n- \u0060filter=contact_id%3D%3D456\u0060\n- \u0060filter=contact_id%3C%3D100\u0060 (contact_id \u003C= 100)\n- \u0060filter=source%3D%3DEmail Marketing\u0060\n- \u0060filter=source%3D%3DEmail*\u0060 (starts with \u0022Email\u0022)\n- \u0060filter=description%3D%3DReferred*\u0060 (starts with \u0022Referred\u0022)\n- \u0060filter=type%3D%3DCOOKIE\u0060\n- \u0060filter=referral_partner_id%3D%3D123%3Bcontact_id%3D%3D456\u0060\n\nFor fields which allow wildcard matching, you may use the * wildcard character (or its encoded form %2A)\nfor case-insensitive partial matching on text fields. Example of a valid pattern of wildcard usage:\n- \u0060field==foo*\u0060 finds anything in \u0060field\u0060 that begins with \u0060foo\u0060\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.\nOne of the following fields:\n- \u0060id\u0060\n- \u0060referral_time\u0060\n\nOne of the following directions:\n- \u0060asc\u0060\n- \u0060desc\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          }
        ],
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReferralsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Referral"
        ],
        "summary": "Create a Referral",
        "description": "Creates a new referral partner referral on the provided contact",
        "operationId": "CreateReferral",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReferralRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "501": {
            "description": "Method Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Referral"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List Products",
        "description": "Retrieves a list of Products",
        "operationId": "ListProducts",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:\n- (String) \u0060name\u0060 - Wildcard matching allowed\n- (String) \u0060sku\u0060 - Wildcard matching allowed\n- (String) \u0060description\u0060 - Wildcard matching allowed\n- (String) \u0060short_description\u0060 - Wildcard matching allowed\n- (String) \u0060product_id\u0060 - supports comparison operators: \u0060==\u0060, \u0060\u003E\u0060, \u0060\u003C\u0060, \u0060\u003E=\u0060, \u0060\u003C=\u0060\n- (List[String]) \u0060product_ids\u0060 - accepts a comma-separated list of product IDs\n\nYou will need to apply the \u0060==\u0060 operator to check the equality of one of the filters with your searched\nword, in the encoded form \u0060%3D%3D\u0060.\n\nFor fields which allow wildcard matching, you may use the * wildcard character (or its encoded form %2A)\nfor case-insensitive partial matching on text fields. Example of a valid pattern of wildcard usage:\n- \u0060field==foo*\u0060 finds anything in \u0060field\u0060 that begins with \u0060foo\u0060\n\nFor the filters listed above, here are some examples:\n- \u0060filter=name%3D%3Dtestsearch\u0060\n- \u0060filter=name%3D%3Dtest*\u0060 (starts with \u0022test\u0022)\n- \u0060filter=sku%3D%3Dtestsearch\u0060\n- \u0060filter=sku%3D%3DSKU*\u0060 (starts with \u0022SKU\u0022)\n- \u0060filter=product_id\u003E5\u0060 (product ID greater than 5)\n- \u0060filter=product_id\u003E=10\u0060 (product ID greater than or equal to 10)\n- \u0060filter=product_id%3D%3D42\u0060 (product ID equals 42)\n- \u0060filter=product_ids%3D%3D1,2,3,4,5\u0060 (products with IDs 1, 2, 3, 4, or 5)\n- \u0060filter=name%3D%3Dtestsearch%3Bsku%3D%3Dtestsearch\u0060\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.\nOne of the following fields:\n- \u0060name\u0060\n- \u0060sku\u0060\n- \u0060last_updated_time\u0060\n\nOne of the following directions:\n- \u0060asc\u0060\n- \u0060desc\u0060",
            "schema": {
              "type": "string"
            }
          },
[...]
